.details__content {
	display: flex;
	flex-direction: column;
}

.details__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	padding: 0;
	margin-top: 10vh;
}

.details__wrapper img {
	width: 60vw;
	height: 55vh;
}

.details__wrapper h1 {
	color: white;
	font-size: 40px;
}

.details__wrapper p {
	color: white;
	font-size: 20px;
}
